<div class="show_detail">
    <div class="col-lg-3">
        <div class="show_detail_image">
            <img src="/src/public/img/{{tro.image}}" alt="">
        </div>
    </div>
    <div class="col-lg-9">
        <div class="show_detail_info">
            <h2 style="margin:0">Thông tin chi tiết</h2>
            <div class="show_detail_info_body">
                <p style="margin:0">TITLE</p>
            </div>
            <div class="show_detail_info_body_btn">
                <div class="show_detail_info_body_btn_body">
                    <button class="show_detail_info_body_btn mes">Nhắn tin</button>
                    <button class="show_detail_info_body_btn call">Gọi điện</button>
                </div>
                
            </div>
        </div>
    </div>

    {{> login}}
</div>