<header class="header">
  <div class="header_container">
    <div class="header_container_nav">
      <div class="logo">
        <img src="/it_project/src/public/img/logo.png" alt="logo">
        <scan id="logo_name">HOME.com</scan>
      </div>
      <ul>
        <li class="header_n2">
          <a class="header_n2_link" href="">
            <div class="header_icon">
              <i class='bx bx-heart'></i>
            </div>
            Yêu thích
          </a>
        </li>
        <li class="header_n2">
          <div class="header_login">
            <div class="header_n2_link">
              <div class="header_icon">
                <i class='bx bx-log-in'></i>
              </div>
              Đăng nhập
            </div>
          </div>

        </li>
        <li class="header_n2">
          <div class="header_signup">
            <div class="header_n2_link" >
              <div class="header_icon">
                <i class='bx bx-user-plus'></i>
              </div>
              Đăng ký
            </a>
          </div>
        </li>
        <li class="header_n2">
          <a class="header_n2_btn" href="/create">
            Đăng tin mới
            <i class='bx bxs-plus-circle'></i>
          </a>


        </li>
      </ul>
      
    </div>
  </div>
</header>