<header class="header">
  <div class="header_container">
    <div class="header_container_nav">
      <a href="/">
        <div class="logo">
          <img src="/src/public/img/OIG1.jpg" alt="logo">
          <scan id="logo_name">HOME.com</scan>
        </div>
      </a>

      <div class="header_nav_list">
        <ul class="header_nav">
          <li class="header_n2">
            <a class="nav-link" href="#">Phòng trọ</a>
          </li>
          <li class="header_n2">
            <a class="nav-link" href="#">Nhà cho thuê</a>
          </li>
          <li class="header_n2">
            <a class="nav-link" href="#">Căn hộ</a>
          </li>
          <li class="header_n2">
            <a class="nav-link" href="#">Mặt bằng</a>
          </li>
          <li class="header_n2">
            <a class="nav-link" href="#">Ở ghép</a>
          </li>
          <li class="header_n2">
            <a class="nav-link" href="#">Bảng giá dịch vụ</a>
          </li>
        </ul>
      </div>




      <ul class="header_nav_1">
        <li class="header_n2">
          <div class="header_n2_link">
            <div class="header_icon">
              <i class='bx bx-heart'></i>
            </div>
            Yêu thích
          </div>
        </li>

        <li class="header_n2">
          <div class="header_n2_icon">
            <div class="header_n2_link">
              <div class="header_icon">
                <i class='bx bx-user-circle'></i>
              </div>
              </a>
            </div>
        </li>



        <li class="header_n2">
          <a class="header_n2_btn" href="/create">
            Đăng tin mới
          </a>


        </li>
      </ul>

    </div>
  </div>

</header>