<div class="model">
    <div class="background"></div>

    <div class="container1">

        <div class="content">


            <div class="text-sci">
                <h2>Chào mừng!<br><span>Đến Với Timtrotot</span></h2>

                <p>Tại đây các bạn có thể tìm thấy những nơi ở phù hợp với nhu cầu và túi tiền của mỗi người. Hy vọng
                    chúng tôi có thể giúp các bạn tìm được những căn phòng tốt nhất.</p>

                <div class="social-icons">
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-gmail'></i></a>
                </div>
            </div>
        </div>

        <!-- Tạo 1 cái logreg-box để làm cái khung chung cho form-box login và form-box register -->
        <div class="logreg-box">
            <div class="form-box login">
                <form action="#">
                    <h2>Đăng nhập</h2>


                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-phone-call'></i></span>
                        <input type="text" required>
                        <label>SĐT</label>
                    </div>

                    <div class="input-box">
                        <span class="icon">
                            <i class='bx bxs-lock-alt'></i>
                        </span>
                        <input type="password" required>
                        <label>Mật khẩu</label>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox">Ghi nhớ đăng nhập</label>
                        <a href="#">Quên mật khẩu?</a>
                    </div>

                    <button type="submit" class="btn1">Đăng nhập</button>

                    <div class="login-register">
                        <p>Bạn chưa có tài khoản? <a href="#" class="register-link">Đăng ký</a></p>
                    </div>
                    <div class="login-register-exit">
                        <p><a href="/">Trở lại</a> </p>
                    </div>
                </form>
            </div>

            <div class="form-box register">
                <form action="#">
                    <h2>Đăng ký</h2>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input type="text" required>
                        <label>Tên</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-phone-call'></i></span>
                        <input type="text" required>
                        <label>SĐT</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                        <input id="password" type="password" required>
                        <label>Mật khẩu</label>
                    </div>


                    <div class="remember-forgot">
                        <label><input type="checkbox">Tôi đồng ý với những điều khoản & điều kiện</label>
                    </div>

                    <button type="submit" class="btn1">
                        Đăng ký
                        
                    </button>
                    

                    <div class="login-register">
                        <p>Bạn đã có tài khoản? <a href="#" class="login-link">Đăng nhập</a></p>
                    </div>

                    <div class="login-register-exit">
                        <p><a href="/">Trở lại</a> </p>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="/src/public/js/script.js"></script>
    
</div>



