<div class="mt-4">

<form action="" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="name"  placeholder="Nhập từ khóa ...">
    <select name="gender" id="gender-input">
        <option value="">-- Chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

</div>

