<!DOCTYPE html>
<html lang="en">

<head>
    <title>Timtrotot</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/app.css">
    <link rel="stylesheet" href="/src/public/css/style.css">
    <link rel="stylesheet" href="/src/public/css/mainTemp.css">
    <link rel="stylesheet" href="/src/public/css/detail.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
</head>



<body>
    <div class="grid">
        {{> header_user}}

        <div class="container">
            {{{ body }}}
        </div>
                
        {{> footer}}

    </div>
    <script src="/src/public/js/header_user.js"></script>
    <script src="/src/public/js/pro.js" ></script>
    <script src="/src/public/js/detail.js" ></script>
    <script src="/src/public/js/create.js" ></script>
    <script src="/src/public/js/script.js" ></script>
    <script src="/src/public/js/pagination_main.js" ></script>
</body>

</html>



